.container {
    padding: 19px 37px;
    background-color: #D9D9D9;
    width: 100%;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 26px;



    .productList {
        background-color: #fff;
        border-radius: 10px;
        height: 610px;

    }


}

.budgetList {
    background-color: #fff;
}

.searchBarNav {
    display: flex;
    height: 75px;
    align-items: center;

}

.titleBar {
    background-color: #D6DCFF;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;


    font-size: 16px;
    font-weight: 500;

}