.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 100%;

    h2 {
        color: #000;
    }
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.formGroup input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modalActions button {
    padding: 10px 20px;
    cursor: pointer;
}

.next {
    background-color: #00a2ff;
    border-radius: 10px;

    &:hover {
        background-color: darken(#00a2ff, 10%);
    }

    &:active {
        background-color: lighten(#00a2ff, 10%);
    }
}

.cancel {
    background-color: #FF7878;
    border-radius: 10px;


    &:hover {
        background-color: darken(#FF7878, 10%);
    }

    &:active {
        background-color: lighten(#FF7878, 10%);
    }
}

.save {
    background-color: #4CAF50;
    border-radius: 10px;

    &:hover {
        background-color: darken(#4CAF50, 10%);
    }

    &:active {
        background-color: lighten(#4CAF50, 10%);
    }
}