.button {
    background-color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.actionButton {
    display: flex;
    align-items: center;

}