.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 3.5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
  min-Width: 0;
  overflow-x: hidden;
}