.button {
    background-color: #4CAF50;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;

    &:hover {
        background-color: darken(#4CAF50, 10%);
    }

    &:active {
        background-color: lighten(#4CAF50, 10%);
    }
}