.container {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volver {
    width: 100%;
}

.backButton {
    background-color: transparent;
    border: none;
    height: 60px;
}

.boleta {
    background-color: white;
    min-height: 900px;
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .borderBox {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    flex-direction: row;
    margin-top: 10px;

    h2 {
        margin-left: 43%;
        font-weight: 400;
        font-size: 24px;
    }

    .fechaOrden {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
}

.info {
    width: 100%;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.logo {
    margin-top: -55px;
    width: 75px;
    height: 75px;
}

.vendedor {
    font-size: 15px;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        word-break: break-all;
    }
}

.cliente {
    font-size: 15px;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        word-break: break-all;
    }
}

.separador {
    width: 1px;
    border: 1px solid black;
    height: 180px;
    margin-top: -50px;
}

.lista {
    width: 100%;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;


    p {
        font-size: 10px;
        margin: 0;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(223, 223, 223);
    height: 30px;
    width: 100%;

    p {
        font-size: 14px;
        width: 17.86%;
        display: flex;
        justify-content: center;
    }

    h4 {
        width: 28.57%;
    }
}

.item {
    padding-right: 190px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 30px;

    p {
        font-size: 14px;
    }
}

.total {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;

    .totalBox {
        width: 300px;
        display: flex;
        flex-direction: row;
    }

    p {
        font-size: 14px;
        display: flex;
        flex-direction: row;

    }

    h4 {
        display: flex;
        justify-content: center;

        width: 100%;
        margin: 0;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    p {
        font-size: 14px;
        width: 17.86%;
        display: flex;
        justify-content: center;
    }

    h4 {
        width: 28.57%;
    }
}

.imprimir {
    margin: 20px;
}

.buttonPrint {
    height: 60px;
    width: 300px;
    background-color: rgba(24, 77, 224, 0.966);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: darken(#184de0f6, 10%);
    }

    &:active {
        background-color: lighten(#184de0f6, 20%);
    }
}