.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



    .headerImage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }


}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;


    .midImage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    .headerMid {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .headerMid3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
}