@media print {

  html,
  body {
    height: 100%;
    /* Use 100% here to support printing more than a single page*/
    width: 50%;

    background-color: linear-gradient(0deg,
        rgb(240 240 240 / 100%) 0%,
        rgb(198 198 198 / 100%) 100%);
  }
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;




  font-family: Roboto, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}