.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.searchBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
    position: relative;

    .search {
        background-color: #fff;
        color: #000;
        height: 42px;
        width: 335px;
        border: 1px solid #000;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
}

.criteria {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    gap: 10px;
    color: #000;
    font-size: 15px;

    label {
        flex-direction: row;
    }
}

.searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    width: 335px;
    top: 100%;
    left: 0;

    li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: #c2c0c0;
        }

        button {
            width: 100%;
            background: none;
            border: none;
            text-align: left;
            padding: 10px;
            color: #000;
        }
    }
}

.priceSelect {
    background-color: #fff;
    color: #000;
    height: 42px;
    width: 250px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;

}

.priceList {
    position: relative;

}

.selectList {
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0 20px;
    padding: 0 5px;
    border-radius: 0 0 10px 10px;
}

.orden {
    color: #000;
    font-size: 15px;
    width: 100px;
}